<link rel="stylesheet" type="text/css" href="/css/add_message.css">
<head>
</head>
<body>
    <h1> ~ Enter your peep here ~</h1>
    <form action="/add_peep"method="post">      
        <textarea type="text" name="peep" cols="40" rows="5"></textarea><br>
        <input type="submit"value='Submit'>
</body>
