<head>
</head>
<body>
    <form action="/add_message"method="post">
        <label for="message">Enter you message here:</label>
        <input type="text" name="message">
        <input type="submit">
</body>
