<link rel="stylesheet" type="text/css" href="/css/add_message.css">
<head>
</head>
<body>
    <label for="message">Enter your message here:</label>
    <form action="/add_message"method="post">      
        <textarea type="text" name="message" cols="40" rows="5"></textarea><br>
        <input type="submit"value='Submit'>
</body>
