<link rel="stylesheet" type="text/css" href="/css/index.css">
<head> 
    <h1> TheSwizzlet </h1>
</head>

<body>
    <form action='/messages' method='post'>
        <label for='username'>Login:</label>
        <input type='text' name='username'>
        <label for='password'>Password:</label>
        <input type='password' name='password'>
        <input type='submit'>
    </form>
</body>
