<head> 
    <h1> Swizzlet </h1>
</head>

<body>
    <form action='/messages' method='post'>
        <label for='username'>Enter your name here:</label>
        <input type='text' name='username'>
        <input type='submit'>
    </form>
</body>