<link rel="stylesheet" type="text/css" href="/css/index.css">
<head> <br>
    <h1> Chitter </h1>
</head>

<body>
  <h3> Log in: </h3>
  <p class='error_message'><%= flash[:notice] %></p>
  <form action="/peeps" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username"><br>
    <label for="password">Password: </label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Log in">
  </form>
  <br>
  <h3> Create an account: </h3>
  <form action="/peeps/new_user" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username_new"><br>
    <label for="password">Password: </label>
    <input type="password" name="password_new"><br><br>
    <input type="submit" value="Sign up">
  </form>
</body>