<head>
    <h1> Weclome <%=@username%></h1>
</head>

<body>
 <a href='/add_message'>Add a new message</a> <br><br>
 <ul>
    <%@messages.each do |message|%>
        <li>
            <p>Message ID: <%=message.id%></p>
            <%=message.message%>
        </li>
    <%end%>
</ul>

</body>