<link rel="stylesheet" type="text/css" href="/css/message_board.css">
<head>
    <h1> Weclome <%=@username%></h1>
</head>

<body>
 <a href='/add_message'>Add a new message</a> <br><br>
 <ul>
    <%@messages.each do |message|%>
        <li>
            <p>Message ID: <%=message.id%></p>
            <%=message.message%> <br>
            <a href="/delete_message">Delete this message</a> <br><br>  
        </li>
    <%end%>
 </ul>

</body>