h1 {
    border:5px solid rgb(247, 122, 143);
    background-color: white;
    padding: 10px;
    width: 400px;
    text-align: center;
}

body{
    background-color: rgb(232, 182, 199);
    margin-left: 35%;
}