li {
    border:5px solid rgb(180, 122, 247);
    background-color: white;
    padding: 10px;
    width: 400px;
    text-align: center;
    margin-left: 33%;
}

body{
    background-color: rgb(211, 182, 232);
    text-align: center;
}

h1{

    text-align: center;
    font-family: Snell Roundhand, cursive;
    font-size: 50px;

}

#delete{
    position: relative;
    left: 200;
    top: 63;
}

#date{
    position: relative;
    right: 160;
    top: 28;
    color: rgb(189, 122, 247);
}