li {
    border:5px solid rgb(139, 122, 247);
    background-color: rgba(255, 255, 255, 0.495);
    padding: 10px;
    width: 400px;
    text-align: center;
    margin-left: 33%;
    border-style: outset;
}

body{
    background-color: rgb(175, 177, 238);
    text-align: center;
    border-style: double;
    border-width: 20px;
}

h1{

    text-align: center;
    font-family: Snell Roundhand, cursive;
    font-size: 50px;

}

.btn{
    position: relative;
    right: 40;
    top: 70;
}


#date{
    position: relative;
    color: rgb(153, 122, 247);
    writing-mode: horizontal-tb;
}
#new_peep{
    font-size: 25px;
}